/* Override some defaults */
html, body {
}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 25px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
.container {
  width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

a{
	color: black;
	text-decoration: underline;
	font-weight: bold;
}

a:hover{
	background-color: black;
	color: white;
}

h1, h2, h3{
  font-family: 'Arvo', Georgia, Times, serif;
}

h1 {
  font-size: 59px;
  line-height: 70px;
}

h2 {
  font-size: 29px;
  line-height: 40px;
}

h3{
  font-size: 16px;
}
 
p {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
}

.header h1{
  line-height: 50px;
  margin-bottom: 0px; 
}

.header h3{
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.content {
  margin-top: 50px;
}

.blog_pagination {
	margin-bottom: 60px;
}

.blog_pagination .next {
	float: right;
}

/* Page header tweaks */
.page-header {
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.posts .post h2, .posts .post h3{
  text-align: left;
}

.posts .post h2{
  font-size: 24px;
}

.posts .post h3{
  padding-top: 3px;
  font-size: 14px;
}

.posts .post .category{
  padding: 8px;
}

.post{
  margin-bottom: 20px;
}

.post .title a{
  font-size: 29px;
  line-height: 40px;
  text-decoration: none;
}

.post .title a:hover{
  text-decoration: underline;
  background: transparent;
  color: #000;
}

.post .date{
  font-size: 16px;
}

.post .post-content{
  margin-top: 20px;
}

.post .post-content p{
  font-size: 18px;
  line-height: 30px;
}

.post .post-content blockquote{
  margin: 2em 4em;
  font-size: 20px;
  line-height: 30px;
  overflow: scroll;
}

.post .post-content blockquote p{
  text-indent: 0;
}

.post .post-end{
  margin-bottom: 10px;  
}

.topbar .btn {
  border: 0;
}

.sidebar {
}

.sidebar .supportbee-widget p{
  font-size: 12px;
  line-height: 20px;  
}

.sidebar .supportbee-widget a:hover{
  background: white;
  text-decoration: none;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	
#header-profile-image{
  border-radius: 50%;
}
